.add-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;
    max-width: 40rem;
    padding: $m-size;
}

.add-item__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin: $m-size 0 0 $m-size;
    & > input {
        border: 1px solid darken($off-white, 7%);
        font-size: $m-size;
        padding: $s-size;
        width: 100%;
    }
    &> h3 {
        margin: 0 $m-size $s-size 0;
    }

    @media (max-width: 684px) {
        flex-direction: column;
        & > input {
            margin-right: $m-size;
        }
    }
}

.inputFile {
    margin-top: $s-size;
}