.header__container {
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    background-color: #5014B8;
    width: 100vw;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $m-size;
    margin: 0 auto;
    max-width: 70rem;
}

.header__title {
    color: white;
    font-size: $xl-size;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: $m-size;
    margin: 0 $m-size 0 0;
    font-weight: 600;
}

.header__link--logo {
    font-size: $xl-size;
    color: white;
}